body, html {
    padding: 0;
    margin: 0; 
    overflow-x: hidden;
    
}

header {
    width: 100vw;
    height: 120px;
    position: fixed;
    box-shadow: 10px 10px 10px #ffffff;
    z-index: 2;
}

#first-header {
    width: 100vw;
    height: 30px;
    background-color: #212121;
    color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
}

#login-account {
    width: 300px;
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}

.font-h {
    font-weight: bolder;
    font-size: 12px;
    font-family: sans-serif;
    color: #ffffff;
    text-decoration: none;
}
.font-h:hover {
    text-decoration: underline;
}
#second-header {
    width: 100vw;
    height: 100px;
    display: flex;
    background-color: #ffffff;
}
#left-side-header {
    width: 50%;
    display: flex;
    align-items: center;
}
#right-side-header {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gfont {
    font-family: 'Aclonica';
    font-size: 45px;
    font-weight: bolder;
    margin-left: 100px;
    cursor: pointer;
}
.head-item {
    cursor: pointer;
}
.header-menu {
    width: 100vw;
    position: fixed;
    display: none;
    justify-content: center;
    background-color: #ffffff;
}
.open-menu {
    display: flex;
}


.vertical {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vertical-item {
    text-decoration: none;
    color: #848482;
    margin: 10px;
    height: auto;
    font-family: 'Alegreya Sans';
}
#content-menu {
    width: 80vw;
    display: flex;
    justify-content: space-around;
}
.login-user {
    width: 350px;
    height: 250px;
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    justify-content: space-around;
    background-color: #ffffff;
    border-bottom: 2px solid black;
    z-index: 3;
}
.backLamp {
    background-color: rgba(0,0,0, 0.4);
}
.inputs {
    width: 339px;
    height: 30px;
    border: 0px;
    border-bottom: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    outline: 0;
}
.inputs:focus {
    box-shadow: 2px 2px 5px 2px #E5E4E2;
}
.login-header {
    width: 100%;
    text-align: center;
}
.signin {
    width: 340px;
    height: 30px;
    background-color: black;
    padding: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  'Alegreya Sans';
    font-size: 18px;
    cursor: pointer;
}
.login-header {
    font-family:  'Alegreya Sans';
    font-size: 30px;
}
.optionss {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.options-left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans';
    width: 100%;
}
.options-right {
    display: flex;
    font-family: 'Alegreya Sans';
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}
.options-link {
    text-decoration: none;
    color: #212121;
}
.open-login {
    display: flex;
}
.remember {
    color: #212121;
    font-family: 'Alegreya Sans';
}







.main-form {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    align-items: center; 
    border-radius: 5px;
}
.serv-email {
    height: auto;
    justify-content: center;
    height: auto;

}
.top-back {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
}
.left-corner {
    width: 20%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-arrow-alt-circle-left {
    cursor: pointer;
}
.main-content {
    width: inherit;
    height: 300px;
    display: flex;
    justify-content: space-around;
}
.gif {
    width: 25%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gif-loading {
    width: 100%;
}
.reset-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-word {
    font-family: 'Alegreya Sans';
    font-size: 35px;
    font-weight: 900;
}
.intro-msg {
    font-family: 'Alegreya Sans';
}
.user-message {
    width: 70%;
    margin-top: 25px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
}
.email-add {
    width: 70%;
    display: flex;
    margin-top: 50px;
}
.address {
    text-decoration: none;
    font-family: 'Alegreya Sans';
    font-weight: bolder;
}
.email-input {
    width: 70%;
    height: 50px;
    align-items: center;
}
.email-r {
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 10px;
}
.user-btn {
    width: 70%;
    height: 50px;

}
.btn-reset {
    width: 312px;
    height: 40px;
    margin-top: 30px;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans';
    cursor: pointer;
    font-size: 20px;
}
.email-r:focus {
    box-shadow: 2px 2px 5px 2px #E5E4E2;
}
#user-alert {
    color: red;
}
.loading {
    opacity: 0.5;
    cursor: not-allowed;
}
.fa-key {
    color: #54C571;
}

.sec_1 {
    width: 100vw;
    height: 100%;
    position: absolute;
    background-image: url('https://cdn.wallpapersafari.com/9/73/IAqCsZ.jpg');
    margin-top: 130px;
    z-index: 1;
    background-attachment: fixed;
    background-size: cover;
   
}
.layout_prod {
    width: 100%;
    height: 100%;
    display: flex;
    background-attachment: fixed;
}
.relase {
    display: flex;
    width: 300px;
    height: 200px;
    color: #ffffff;
    flex-direction: column;
    background-attachment: fixed;
    font-family: 'Allan';
    font-size: 50px;
    bottom: 0;
    margin: auto;
    margin-left: 50px;
}
.shop-now {
    color: #ffffff;
}
.sec_2 {
    width: 100vw;
    height: 900px;
}