body, html {
    padding: 0;
    margin: 0; 
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
    
    
}
.light {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0, 0.8);
    z-index: 10;
    display: none;
    transition: 0.5s ease-out;
}
.dark {
    display: block;
}
header {
    width: 100vw;
    height: 120px;
    position: fixed;
    box-shadow: 10px 10px 10px #ffffff;
    z-index: 2;
}
.market {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
    margin-left: 5px;
}

#first-header {
    width: 100vw;
    height: 30px;
    background-color: #212121;
    color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
}

#login-account {
    width: 300px;
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}

.font-h {
    font-weight: bolder;
    font-size: 12px;
    font-family: sans-serif;
    color: #ffffff;
    text-decoration: none;
}
.font-h:hover {
    text-decoration: underline;
}
#second-header {
    width: 100vw;
    height: 100px;
    display: flex;
    background-color: #ffffff;
}
#left-side-header {
    width: 50%;
    display: flex;
    align-items: center;
}
#right-side-header {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gfont {
    font-family: 'Aclonica';
    font-size: 45px;
    font-weight: bolder;
    margin-left: 100px;
    cursor: pointer;
}
.head-item {
    cursor: pointer;
}
.header-menu {
    width: 100vw;
    position: fixed;
    display: none;
    justify-content: center;
    background-color: #ffffff;
}
.open-menu {
    display: flex;
}


.vertical {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vertical-item {
    text-decoration: none;
    color: #848482;
    margin: 10px;
    height: auto;
    font-family: 'Alegreya Sans';
}
#content-menu {
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

.login-user {
    width: 350px;
    height: 250px;
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    justify-content: space-around;
    background-color: #ffffff;
    border-bottom: 2px solid black;
    z-index: 11;
}
.backLamp {
    background-color: rgba(0,0,0, 0.4);
}
.inputs {
    width: 339px;
    height: 30px;
    border: 0px;
    border-bottom: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    outline: 0;
}
.inputs:focus {
    box-shadow: 2px 2px 5px 2px #E5E4E2;
}
.login-header {
    width: 100%;
    text-align: center;
}
.signin {
    width: 340px;
    height: 30px;
    background-color: black;
    padding: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  'Alegreya Sans';
    font-size: 18px;
    cursor: pointer;
}
.login-header {
    font-family:  'Alegreya Sans';
    font-size: 30px;
}
.optionss {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.options-left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans';
    width: 100%;
}
.options-right {
    display: flex;
    font-family: 'Alegreya Sans';
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}
.options-link {
    text-decoration: none;
    color: #212121;
}
.open-login {
    display: flex;
}
.remember {
    color: #212121;
    font-family: 'Alegreya Sans';
}

.create-account-container {
    position: fixed;
    z-index: 11;
    background-color: #ffffff;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow-x: auto;
    margin: auto;
    height: 650px;
    width: 950px;
    display: none;
    justify-content: center;
    align-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(13, 50px);
    grid-template-rows: repeat(11, 50px);
    grid-template-areas:
    
    ". . . . . symbolLogo symbolLogo symbolLogo . . . . ."
    "createAcc createAcc createAcc createAcc . . asignLine . . signUp signUp signUp signUp"
    ". . . . . . asignLine . . . . . ."
    "firstName firstName firstName lastName lastName lastName asignLine facebookBtn facebookBtn facebookBtn facebookBtn . ."
    "emailRegister emailRegister emailRegister emailRegister emailRegister emailRegister asignLine googleRegister googleRegister googleRegister googleRegister . ."
    "password password password password password password asignLine . . . . . ."
    ". . . . . . or . . . . . ."
    ". . . . . . lineTwo . . . . . ."
    ". . . . . . lineTwo . . . . . ."
    ". . . . create create create create create . . . ."
    ". . . . return return return login login . . . .";
}


.create-account {
    grid-area: createAcc;
    font-family: 'Alegreya Sans'
}

.symbol-logo {
    grid-area: symbolLogo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up {
    grid-area: signUp;
}
.first-name {
    grid-area: firstName;
}
.last-name {
    grid-area: lastName;
}
.facebook-btn {
    grid-area: facebookBtn;
    background-color: #4267B2;
    color: #ffffff;
    font-family: 'Alegreya Sans';
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.email-register {
    grid-area: emailRegister;
}
.google-btn {
    grid-area: googleRegister;
    background-color: #d34836;
    color: #ffffff;
    font-family: 'Alegreya Sans';
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.password-btn {
    grid-area: password;
}
.or-word {
    grid-area: or;
    color: black;
    font-family: 'Alegreya Sans';
    font-size: 35px;
}
.create-btn {
    grid-area: create;
    background-color: black;
    color: #ffffff;
    font-family: 'Alegreya Sans';
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.return-link {
    grid-area: return;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-link {
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
}
.asign-line-1 {
    grid-area: asignLine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.asign-line-2 {
    grid-area: lineTwo;
    display: flex;
    justify-content: center;
    align-items: center;
}


.font-create {
    font-family: 'Alegreya Sans';
    font-size: 30px;
}
.reg-input {
    width: 100%;
    height: 100%;
    border: 0px;
    border-bottom: 2px solid;
}
.email-reg {
    width: 100%;
    height: 100%;
    border: 0px;
    border-bottom: 2px solid;
}
.reg-links{
    font-family: 'Alegreya Sans';
    cursor : pointer;
}
.amood {
    width: 2px;
    height: 100%;
    background-color: black;
}
.open-reg {
     display: inline-grid;
 }






.main-form {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    align-items: center; 
    border-radius: 5px;
}
.serv-email {
    height: auto;
    justify-content: center;
    height: auto;

}
.top-back {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
}
.left-corner {
    width: 20%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-arrow-alt-circle-left {
    cursor: pointer;
}
.main-content {
    width: inherit;
    height: 300px;
    display: flex;
    justify-content: space-around;
}
.gif {
    width: 25%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gif-loading {
    width: 100%;
}
.reset-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-word {
    font-family: 'Alegreya Sans';
    font-size: 35px;
    font-weight: 900;
}
.intro-msg {
    font-family: 'Alegreya Sans';
}
.user-message {
    width: 70%;
    margin-top: 25px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
}
.email-add {
    width: 70%;
    display: flex;
    margin-top: 50px;
}
.address {
    text-decoration: none;
    font-family: 'Alegreya Sans';
    font-weight: bolder;
}
.email-input {
    width: 70%;
    height: 50px;
    align-items: center;
}
.email-r {
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 10px;
}
.user-btn {
    width: 70%;
    height: 50px;

}
.btn-reset {
    width: 312px;
    height: 40px;
    margin-top: 30px;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans';
    cursor: pointer;
    font-size: 20px;
}
.email-r:focus {
    box-shadow: 2px 2px 5px 2px #E5E4E2;
}
#user-alert {
    color: red;
}
.loading {
    opacity: 0.5;
    cursor: not-allowed;
}
.fa-key {
    color: #54C571;
}


.layout_prod {
    width: 100%;
    height: 100%;
    display: flex;
    background-attachment: fixed;
}
.relase {
    display: flex;
    width: 300px;
    height: 200px;
    color: #ffffff;
    flex-direction: column;
    background-attachment: fixed;
    font-family: 'Allan';
    font-size: 50px;
    bottom: 0;
    margin: auto;
    margin-left: 50px;
}
.shop-now {
    color: #ffffff;
}

.sec_1 {
    width: 100vw;
    height: 800px;
    position: relative;
    background-image: url('https://raw.githubusercontent.com/freelancer2020/e-shop/master/photos/fashion2020.jpg');
    z-index: 1;
    background-attachment: fixed;
    background-size: cover;
}
.sec_2 {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.products-container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.resizeImage {
    width: 300px;
    height: 100%;
    transition: 0.5s ease-out;
}
.resizeImage:hover {
    transform: scale(1.5,1.5);
}

#products-header-section {
    width: 100vw;
    height: 80px;
    display: flex;
}

.hole {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans';
    font-size: 35px;
    background-color: #ffffff;
}
.sec_3 {
    width: 100vw;
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://raw.githubusercontent.com/freelancer2020/hexa/master/photos/012.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-lounge {
    color: #ffffff;
    display: inline-block;
    font-size: 80px;
    padding: 20px;
    font-family: 'Syncopate', sans-serif;
    line-height: 0.9;
    text-transform: uppercase;
    background: radial-gradient(
      circle farthest-corner at center center,
      white,
      #111
    ) no-repeat;
    text-decoration: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.sec_4 {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.main-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    
}
.collection-header {
    width: 100%;
    height: 50px;
    font-family: 'Alegreya Sans';
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid;
}
.collection-row-container {
    width: 100%;
    height: 300px;
    display: flex;
}

.arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
    display: flex;
}
.arrow-left {
    display: flex;
    width: 5%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.container-arrow-left {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-bottom: 2px solid;
    border-left: 2px solid;
    cursor: pointer;
}
.container-arrow-right {
    width: 20px;
    height: 20px;
    transform: rotate(225deg);
    border-bottom: 2px solid;
    border-left: 2px solid;
    cursor: pointer;
}
.collection-content {
    width: 190%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    
}

.sec_5 {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.main-section-5-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.element {
    width: 90%;
    display: flex;
    flex-direction: column;
    
}
.element-header {
    width: 95%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Alegreya Sans';
    border-bottom: 1px solid black;
    font-size: 18px;
    font-weight: 500;
   
}
.element-content {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Alegreya Sans';
    margin-top: 30px;
}

.element-content:nth-child(2)  {
    align-items: flex-start;
    text-decoration: none;
    color: black;
    
}
.user-queries {
    text-decoration: none;
    color: black;
    margin: 5px;
}
.user-queries:hover {
    text-decoration: underline;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E4E2;
    height: 50px;
    width: 400px;
    border-radius: 3px;
}

#mail-list {
    margin-top: 0px;
}

.sub-mail-list {
    width: 220px;
    height: 40px;
    border: 0px;
    background-color: #E5E4E2;
    padding-left: 10px;
    font-size: 16px;
}

.sub-btn {
    width: 150px;
    height: 40px;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Alegreya Sans';
    font-size: 18px;
}

.sec_6 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payments-methods-icons {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.social-media-icons {
    width: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer {
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#btn-arrow-up {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
}

#btn-arrow-up:hover {
    opacity: 1;
}

.loads {
    width: 200px;
    height: 150px;
}
.item-board {
    display: none;
    width: 70vw;
    height: 70vh;
    background-color: #F9F8F6;
    position: fixed;
    z-index: 11;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    overflow: auto;
}









.shopping-cart-container {
    width: 60vw;
    height: auto;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 11;
    margin-top: 150px;
    overflow: auto;
    display: none;
<<<<<<< HEAD
}
.openCarta {
    display: flex;
    flex-direction: column;
=======
>>>>>>> 29fa1dee5d6134fcd22cb6a18492e1869ad0e681
}
.cart-header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom: 1px solid black;
}
.close-cart-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.your-cart {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans';
    font-size: 25px;
}
.close-cart {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding-left: 5px;
    padding-top: 5px;
    cursor: pointer;
}
.cart-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}
.fa-times-circle:hover {
    color: red;
}
.part-bottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}
.instructions {
    font-family: 'Alegreya Sans';
    font-size: 25px;

}
.txt-area {
    width: 90%;
    height: 120px;
    border: 1px solid black;
    border-radius: 3px;
    overflow: auto;
    resize: vertical;
    margin-top: 10px;
}
.txt-area:focus {
    box-shadow: 0px 0px 10px  lightgray;
}
.check-out {
    height: 70px;
    width: 100%;
    color: #ffffff;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    margin-top: 50px;
}


.back {
    width: 200px;
    height: 200px;
}
